@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primary: #36941f;
  --root: #e62121;  
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 40px;
  margin: 0 auto
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.document-card {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.document-card h4 {
  color: var(--primary);
}

label, input {
  display: block;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}


form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.error {
  background: #ffe6e6;
  color: #b10000;
  border: 1px solid #ff4d4d;
  padding: 10px 14px;
  margin: 12px 0;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  animation: fadeIn 0.3s ease-in-out;
}

.btn {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}


nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
}
